/* :root {
  
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* HEADER AND NAVBAR  */

#header-nav {
  font-size: large;
}

.header ul li {
  display: inline;
}

.navbar-links ul li {
  margin-left: 25px;
  position: relative;
  font-size: x-large;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(188, 2, 2);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar-color {
  background-color: lightgreen;
}

/* PAGE CONTAINERS */

.page-container {
  margin: 20px;
  border-color: black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchpage {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#text-box {
  background-color: #dddddd;
  margin-left: 88px;
  text-align: center;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 300px;
  height: 60px;
  transition: all 0.2s;
}

#text-box:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
#textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

/* BUTTON BEHAVIOURS */

#btn-control {
  margin: auto;
  display: flex;
  margin-top: 5px;
}
#btn-locate {
  margin: 10px;
}
#btn-control:hover {
  color: #000000;
  background-color: #ffffff;
}
#btn-locate:hover {
  color: #000000;
  background-color: #ffffff;
}

/* OTHER MISC FUNCTIONS */

.error-message {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#hidden-container {
  display: none;
}

#h-class{
  font-weight: bold;
}

/* AIR QUALITY PAGE  */

#airquality {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MISC CLASSES AND IDS FOR TARGETED CSS */

#about-us-list {
  list-style: none;
}

.hide {
  display: none;
}

#hidden-page {
  display: none;
}

/* DEFAULT CONTAINER STATES */
#searchpage {
  display: flex;
}
#airquality {
  display: none;
}
#historypage {
 display: none; 
}
#aboutuspage {
  display: none;
}
