* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header ul li {
    display: inline;
}

.webNavigationButtons ul li {
    margin-left: 25px;
    position: relative;
    font-size: x-large;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(188, 2, 2);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
