
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}



/* HEADER AND NAVBAR  */

.header ul li {
  display: inline;
}

.navbar-links ul li {
  margin-left: 25px;
  position: relative;
  font-size: x-large;
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(188, 2, 2);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-header {

}

/* PAGE CONTAINERS */

.page-container {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#search-page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}

#text-box {
  height: 30px;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#btn-control {
  background-color: #ffffff;
  height: 30px;
  width: 50px;
}

#hidden-page {
  display: none;
}

#hidden-container {
  display: none;
}


/* AIR QUALITY PAGE  */

#airquality {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

